# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Gradle files
/build/
# /build.gradle
# /gradle/
# gradlew
# gradlew.bat
# /gradle/wrapper/gradle-wrapper.properties
/.gradle


# Java files
*.class
*.jar
*.war
*.ear

# Log files
/logs/
*.log

# Temporary files
*.tmp
*.bak

# System files
/.DS_Store
/Thumbs.db

# Miscellaneous
/target/
/.idea/workspace.xml
/.idea/tasks.xml
